body{
    background-image: url("../img/pinkspace.jpg") ;
    background-position: 15% 10%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0;
    flex-flow: column;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
header{
    text-align: center;
}
h1{
    color: white;
}
main{
    display: flex;
    flex-flow: column;
    color: white;
}
.navbar{ /*mise en page de la barre de menu*/
    width: 100%;
    background-color:white ;
    overflow: auto;
    margin: 0 auto;
}
.navbar a {
    text-align: center;
    color: darkblue;
    text-decoration: none;
    font-size: 17px;
    padding: 1em;
}
.navbar a:hover{
    background-color: #6e14dc;
    color: white;
    transition-duration: 0.5s;
}
nav ul {
    list-style-type: none;
    display: -webkit-flex ;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: auto;
}
nav ul li a{
    display: block;
}
nav ul li{
    flex: 1 1 1%;
    border-right:1px solid darkblue; 
}
nav ul li:last-child{
    border-right: none;
}
main{
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}
main > section{
    padding: 1em;
    flex: 1;
    flex-basis: 33%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    text-align: justify;
}

.table section img{
    
    width: 400px;
    height: 300px;
    border-radius: 3%;
    border: 2px white solid;
    
}
footer{
    text-align: center;
    color: darkblue;
    background-color: white ;
    padding: 0.1em;
    font-weight: bold;
    bottom: 0;
    position: relative;
}

@media screen and (max-width:800px){
    main{
        display: block;
        margin: 0;
    }
    nav ul{
        justify-content: space-around;
        text-align: center;
        align-items: center;
        flex: 1;
        flex-flow: column;
        text-align: center;  
    }
    nav ul li a{
        border-top: 1px solid darkblue;  
        width: 96.59vw;
    }
    footer{
        position: relative;
        bottom: 0;
    }
}